// Box Sizing
//
// The box-sizing property in CSS controls how the box model
// is handled for the element it applies to.
//
// Values: content-box | border-box
// Default: content-box
//
// https://www.w3.org/TR/css-ui-3/#box-sizing
@mixin box-sizing($value: content-box) {
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
      -ms-box-sizing: $value;
          box-sizing: $value;
}
