<head>
  <!-- Meta tags -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, width=device-width" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="canonical" href="{{ page.url | absolute_url | uri_escape }}" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <!-- Advanced meta tags -->
  {% for tag in site.data.meta_tags %}
    <meta name="{{ tag.name | strip_newlines | strip_html | strip | normalize_whitespace | xml_escape }}"
          content="{{ tag.content | strip_newlines | strip_html | strip | normalize_whitespace | xml_escape }}" />
  {% endfor %}

  <!-- Title / Description -->
  <meta name="description" content="{{ site.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify | truncate: 100 | xml_escape }}" />
  <title>{{ site.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | truncate: 64 | xml_escape }}</title>

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url | uri_escape }}" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url | uri_escape }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url | uri_escape }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url | uri_escape }}" />
</head>
